.summary-card-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--color-info);
  border: 2px solid var(--border-color);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-brutal);
  padding: var(--space-7) 200px;
  gap: var(--space-2);

  justify-content: space-between;
  align-items: center;
}

.summary-card-text {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.summary-card-description {
  font-weight: var(--fw-regular);
  color: var(--color-surface);
  font-size: var(--fs-h2);
}

.summary-card-label {
  font-weight: var(--fw-semibold);
  color: var(--color-text-primary);
}

.summary-card-dates {
  display: flex;
  gap: var(--space-6);
}

.summary-card-badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-3);
}

.summary-badge-text {
  font-weight: var(--fw-regular);
  color: var(--color-surface);
  font-size: var(--fs-h2);
}

.summary-badge {
  background-color: var(--color-critical);
  color: var(--color-surface);
  font-size: var(--fs-small);
  border: 2px solid var(--border-color);
  border-radius: var(--radius-pill);
  width: 90px;
  height: 90px;
}
