

.secondary-button {
    font-family: var(--font-family);
    font-weight: var(--fw-semibold);
    color: var(--color-text-secondary);
    position: relative;
    display: inline-block;
}

.secondary-button::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-brand);
    transition: width 0.3s ease-in-out;
}

.secondary-button:hover::after {
    width: 100%;
}



.secondary-button__icon {
    margin-left: var(--space-2);
    width: 10px;
}
