body {
  font-family: var(--font-family);
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

#root {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fw-bold);
  line-height: 1.2;
}

p {
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

.layout-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
