.navBar {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.navBar__logo {
  display: flex;
  flex-direction: row;
  gap: var(--space-2);
}

.navBar__logo-container {
  background-color: var(--color-brand);
  border-radius: 50%;

  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBar__logo-img {
  width: 28px;
  object-fit: cover;
}

.navBar__logo-text {
  color: var(--color-brand);
}

.navBar__logo-text-Radar {
  color: var(--color-text-primary);
}

/* ===========================
   MOBILE
=========================== */

@media (max-width: 768px) {
  .navBar__logo {
    justify-content: center;
  }

  .navBar__logo-text {
    font-size: var(--fs-h2);
  }
}
